<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout="row" fxLayoutAlign="start center" class="font-header mb-2">
                        KPI Test
                        &nbsp;
                        <span [popper]="popperContent" [popperTrigger]="triggers.hover"
                            [popperModifiers]="offsetModifiers">
                            <img src="../../../assets/icons/info.svg" width="20" height="20" />
                        </span>
                    </div>
                    <popper-content #popperContent>
                        <span>info</span><br />
                    </popper-content>
                    <div fxLayout="row" fxLayoutAlign="start center" class="font-title mb-2">Industry: Banking</div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="font-title">
                        <img class="search-icon" src="../../../assets/icons/search.svg" width="15" height="15" />
                        <div fxFill class="input-group mb-3">
                            <input type="text" class="form-control input-search" placeholder="Search"
                                [(ngModel)]="search">
                        </div>
                    </div>
                    <div class="content-master">
                        <div class="dropdown">
                            <span class="dropdown-content">
                                <div *ngFor="let item of dataMaster | filterKpiTestDropdown : search; let i = index;">
                                    <div>
                                        <div>
                                            <mat-checkbox [checked]="item.selected" [indeterminate]="item.indeterminate"
                                                (change)="setAllItem($event.checked, item)">
                                                {{ item.group }}
                                            </mat-checkbox>
                                            &nbsp;
                                            <span [popper]="popperContent2" [popperTrigger]="triggers.hover"
                                                [popperModifiers]="offsetModifiers">
                                                <img src="../../../assets/icons/info.svg" width="15" height="15" />
                                            </span>
                                            <button class="btn" (click)="iconDropdownGroup(!item.dropdownShow, item)">
                                                <img [src]="item.iconSrc" width="8" height="4.8" />
                                            </button>
                                        </div>
                                        <popper-content #popperContent2>
                                            <span>info</span><br />
                                        </popper-content>

                                        <div [ngStyle]="{ display: !item.dropdownShow || item.slider ? 'none' : null }"
                                            *ngFor="let sub of item.subLevel" class="mx-4">
                                            <mat-checkbox [checked]="sub.selected" [indeterminate]="sub.indeterminate"
                                                (change)="selectSubLevel($event.checked, sub, item)"
                                                [(ngModel)]="sub.selected">
                                                {{ sub.label }}
                                            </mat-checkbox>
                                            &nbsp;
                                            <span [popper]="popperContent3" [popperTrigger]="triggers.hover"
                                                [popperModifiers]="offsetModifiers">
                                                <img src="../../../assets/icons/info.svg" width="15" height="15" />
                                            </span>
                                            <popper-content #popperContent3>
                                                <span>info</span><br />
                                            </popper-content>
                                        </div>

                                        <div class="custom-ngx-slider px-2"
                                            [ngStyle]="{ display: !item.dropdownShow || !item.slider ? 'none' : null }">
                                            <div fxLayout="column" class="container">
                                                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px"
                                                    fxFlex="50">
                                                    <div fxFlex="65%" fxLayoutAlign="center center" fxFlexFill
                                                        class="grid-item-layout">
                                                        <ngx-slider [(value)]="item.value" [(highValue)]="item.min"
                                                            [options]="options">
                                                        </ngx-slider>
                                                    </div>
                                                </div>
                                                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px"
                                                    fxFlex="50">
                                                    <div fxFlex="65%" fxLayoutAlign="center center" fxFlexFill
                                                        class="grid-item-layout">
                                                        <div fxFlex="100%" fxLayout.gt-sm="row" fxLayout.lt-md="row"
                                                            fxLayoutAlign="center center" fxFlexFill
                                                            class="grid-item-layout">
                                                            <div fxFlex="50" fxLayoutAlign="start center" fxFlexFill
                                                                class="grid-item-layout font-ngx-slider-span">
                                                                <b>Low:</b>&nbsp;{{ item.value.toLocaleString()
                                                                }}
                                                            </div>
                                                            <div fxFlex="50" fxLayoutAlign="end center" fxFlexFill
                                                                class="grid-item-layout font-ngx-slider-span">
                                                                <b>High:</b>&nbsp;{{ item.min.toLocaleString()
                                                                }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex fxLayout.gt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexFill
                class="grid-item-layout p-4">
                <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4 mb-4 box-top-right">
                    <div class="container">
                        <div class="text-center font-title-box-right-top p-2 mb-2">
                            Reachable Audience
                            <span [popper]="popperContent5" [popperTrigger]="triggers.hover"
                                [popperModifiers]="offsetModifiers">
                                <img src="../../../assets/icons/info-ligth.svg" width="15" height="15" />
                            </span>
                        </div>
                        <popper-content #popperContent5>
                            <span>info</span><br />
                        </popper-content>

                        <div id="chart" fxLayoutAlign="center center">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels" [theme]="chartOptions.theme"
                                [responsive]="chartOptions.responsive" [legend]="chartOptions.legend"
                                [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                                [stroke]="chartOptions.stroke">
                            </apx-chart>
                        </div>
                        <div class="py-2 text-center font-summary">{{ summary.toLocaleString() }}&nbsp;Users
                        </div>
                    </div>
                </div>
                <div fxFlex="50" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4 box-bottom-right">
                    <div class="container">
                        <p class="card-title font-title-box-right py-2">Recommended KPI:</p>
                        <div class="container" fxLayout.gt-sm="row" fxLayout.lt-md="column"
                            *ngFor="let item of recommendedKPI" class="py-2">
                            <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="start center"
                                class="font-box-right">{{ item.name }}</div>
                            <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="end center"
                                class="font-box-right">
                                {{ item.summary.toLocaleString() }}
                                &nbsp;
                                users
                                &nbsp;&nbsp;
                                <button fxLayoutAlign="center center" class="btn btn-light">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>