@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
}

.grid-item {
  border: 1px solid #e9ecef;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  background: #ffffff;
  border-radius: 10px;
}

.box-top-right {
  background: #d2f4f2;
  box-shadow: 0px 4px 10px rgba(2, 2, 2, 0.2);
  border-radius: 10px;
}

.box-bottom-right {
  background: #dbe1e1;
  box-shadow: 0px 4px 10px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
}

.font-header {
  @include font-format(700, 32px, 44px, #020202);
}

.font-title {
  @include font-format(500, 14px, 19px, #020202);
}

.font-summary {
  @include font-format(600, 30px, 41px, #3b4f4d);
}

.font-title-box-right-top {
  @include font-format(600, 20px, 27px, #020202);
}

.font-title-box-right {
  @include font-format(500, 20px, 21px, #020202);
}

.font-box-right {
  @include font-format(400, 14px, 19px, #020202);
}

.font-ngx-slider-span {
  @include font-format(400, 10px, 15px, #4e4e4e);
}

img {
  cursor: pointer;
}

.sublevel {
  margin-left: 1.5rem;
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.search-icon {
  margin-top: -1rem;
  margin-right: -1.8rem;
  z-index: 5;
}
.input-search {
  @include font-format(400, 16px, 22px, #020202);
  padding-left: 40px;
}

.btn-light {
  @include font-format(700, 8px, 15px, #020202);
  background: #ffffff;
  height: 22px;
  border-radius: 15px;
}

// .grid-item {
//   background-color: lightsalmon !important;
// }
