<div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="container" style="background: aquamarine;">
    <h4><b>Angular Highcharts</b></h4>
</div>
<br>
<div class="row mt-5">
    <div class="col-6">
        <div id="chart-gauge"></div>
    </div>
    <div class="col-6">
        <div id="chart-pie"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6">
        <div id="chart-column"></div>
    </div>
    <div class="col-6">
        <div id="chart-line"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6">
        <div id="chart-funnel"></div>
    </div>
    <div class="col-6">
        <div id="#"></div>
    </div>
</div>