@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.grid-item {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.btn {
  -webkit-transition: 0.2s all;
  border-radius: 10px;
}
.btn:hover {
  -webkit-filter: brightness(95%);
}

.text-header {
  @include font-format(700, 32px, 44px, #020202);
}

.text-title {
  @include font-format(700, 20px, 16px, #020202);
}

.text-my-project {
  @include font-format(700, 20px, 27px, #020202);
}

.text-project-name {
  @include font-format(700, 16px, 20px, #020202);
}

.text-description {
  @include font-format(400, 12px, 16px, #4e4e4e);
}

.sub-text {
  @include font-format(400, 14px, 24px, #020202);
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.input-search {
  @include font-format(400, 16px, 22px, #020202);
}

.icon-check {
  margin-top: -1.2rem;
  margin-right: -1.8rem;
  margin-bottom: -1.5rem;
}

:host ::ng-deep.mat-checkbox-frame {
  border-radius: 50% !important;
}
:host ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  border-radius: 50% !important;
}
