<div fxLayout="row" fxLayoutAlign="center center" class="grid-item p-4 m-2">
    <div fxLayout="column" fxLayoutGap="20px" style="width: 556px;">
        <div fxLayout="row" fxLayoutAlign="center center" class="text-header text-center mb-4">Let’s Start</div>
        <div fxLayout="column" fxLayoutAlign=" none" class="item">
            <div fxLayout="column" class="btn card grid-card m-2" *ngFor="let item of LetsStart; let i = index"
                [ngStyle]="{ border: item.isSelected ? '1px solid #020202' : null }"
                (click)="toggle1(LetsStart, item, i)">
                <div *ngIf="item.isSelected" fxLayout="column" fxFill fxLayoutAlign=" end">
                    <img class="icon-check" src="../../../assets/icons/ic_checkbox.svg" width="32" height="32" />
                </div>
                <div class="row">
                    <div fxLayoutAlign.lt-sm="start center" fxLayoutAlign="center center"
                        class="col-xs-12 col-sm-2 col-md-2 col-lg-2 p-2">
                        <img src="{{ item.image }}" width="40" height="40" class="img-fluid rounded-start">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="row p-1">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-1 text-start text-project-name">
                                {{ item.name }}
                                &nbsp;
                                <span [popper]="popperContent" [popperTrigger]="triggers.hover"
                                    [popperModifiers]="offsetModifiers">
                                    <img src="../../../assets/icons/info.svg" width="20" height="20" />
                                </span>
                            </div>
                        </div>
                        <popper-content #popperContent>
                            <span>info</span><br />
                        </popper-content>
                        <div class="row p-1">
                            <div class="col-12 p-1 text-start text-description">{{ item.description }}</div>
                        </div>
                        <div *ngIf="item.target.length > 0" class="row p-1"
                            [ngStyle]="{ display: !item.isSelected ? 'none' : null }">
                            <div class="col-12 p-1 text-start sub-text" *ngFor="let sub of item.target; let s = index">
                                <div class="row">
                                    <span class="col-8">
                                        <mat-checkbox [checked]="sub.isSelected" [(ngModel)]="sub.isSelected"
                                            (click)="toggle3(item, item.target, sub, s)">
                                            {{ sub.name }}
                                        </mat-checkbox>
                                    </span>
                                    <div class="col-3 text-end">
                                        <span [popper]="popperContent2" [popperTrigger]="triggers.hover"
                                            [popperModifiers]="offsetModifiers">
                                            <img src="../../../assets/icons/info.svg" width="20" height="20" />
                                        </span>
                                    </div>
                                </div>
                                <popper-content #popperContent2>
                                    <span>info</span><br />
                                </popper-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="text-my-project text-center px-2 mb-2"
            *ngIf="myProjects.length > 0">My Projects</div>
        <div fxLayout="column" fxLayoutAlign=" none" class="item">
            <div fxLayout="column" class="btn card grid-card m-2" *ngFor="let item of myProjects; let i = index"
                [ngStyle]="{ border: item.isSelected ? '1px solid #020202' : null }"
                (click)="toggle2(myProjects, item, i)">
                <div *ngIf="item.isSelected" fxLayout="column" fxFill fxLayoutAlign=" end">
                    <img class="icon-check" src="../../../assets/icons/ic_checkbox.svg" width="32" height="32" />
                </div>
                <div class="row">
                    <div fxLayoutAlign.lt-sm="start center" fxLayoutAlign="center center"
                        class="col-xs-12 col-sm-2 col-md-2 col-lg-2 p-2">
                        <img src="{{ item.image }}" width="40" height="40" class="img-fluid rounded-start">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="row p-1">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-1 text-start text-project-name">
                                {{ item.name }}
                                &nbsp;
                                <span [popper]="popperContent3" [popperTrigger]="triggers.hover"
                                    [popperModifiers]="offsetModifiers">
                                    <img src="../../../assets/icons/info.svg" width="20" height="20" />
                                </span>
                            </div>
                        </div>
                        <popper-content #popperContent3>
                            <span>info</span><br />
                        </popper-content>
                        <div class="row p-1">
                            <div class="col-12 p-1 text-start text-description">{{ item.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>