.grid-item {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card {
  border: 1px solid #e9ecef;
  //   border-left-width: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.btn {
  -webkit-transition: 0.2s all;
  border-radius: 10px;
}
.btn:hover {
  -webkit-filter: brightness(95%);
}
.btn-add {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #020202;
  border-radius: 100px;
  border: 1px solid #020202;
  height: 40px;
}
.btn-add:hover {
  img {
    filter: brightness(0) invert(1);
  }
  background: #020202;
  color: #ffffff;
}
.text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #020202;
}

.text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #020202;
}

.text-attribute {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #020202;
}

.text-title-search-input {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #020202;
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.search-icon {
  margin-right: -1.8rem;
  z-index: 5;
}
.input-search {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 40px;
}
::placeholder {
  color: #e6e6e6;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #e6e6e6;
}

.overflow {
  overflow-y: auto;
  height: 33vh;
}

.icon-check {
  margin-top: -1.2rem;
  margin-right: -1.8rem;
  margin-bottom: -1.5rem;
}
