<!-- <div fxLayout.gt-xs="row" fxLayout.lt-md="column" class="navbar">
  <div fxFlex class="grid-item" fxLayoutAlign="start center">
    <button class="btn">
      <img class="m-2" src="./assets/icons/menu_nav.svg" width="16">
    </button>
    <img class="m-2" src="./assets/images/Logo_Democles.png" width="100">
  </div>
  <div class="grid-item">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-md="start center">
      <div class="grid-item" fxLayout="row">
        <div class="bd-highlight"><img class="img-nav" src="./assets/images/home2.svg"></div>
        <div class="p-1 menu-header nav" (click)="homeNav()">Home</div>
      </div>
      <div *ngIf='dashboardActive' class="grid-item" fxLayout="row">
        <div class="bd-highlight"><img class="img-nav" src="./assets/images/dashboard3.svg"></div>
        <div class="p-1 menu-header-active nav" (click)="dashboardNav()">Dashboard</div>
      </div>
      <div *ngIf='!dashboardActive' class="grid-item" fxLayout="row">
        <div class="bd-highlight"><img class="img-nav" src="./assets/images/dashboard2.svg"></div>
        <div class="p-1 menu-header nav" (click)="dashboardNav()">Dashboard</div>
      </div>
    </div>
  </div>
  <div fxFlex class="grid-item" fxLayoutAlign="end center">
    <div class="user-container">
      <img class="notification" src="./assets/images/notification.svg">
      <div class="line"></div>
      <img class="user-icon" src="./assets/images/default-profile.svg">
      <p class="username">
        {{name}}
      </p>
      <img class="user-dropdown" src="./assets/images/arrow_down.svg">
    </div>
  </div>
</div> -->

<div class="sticky grid-item px-2">
  <div fxLayout="column" class="">
    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
      <div fxFlex fxLayoutAlign="start center" fxFlexFill class="grid-item-layout mx-2">
        <button class="btn">
          <img class="m-2" src="./assets/icons/menu_nav.svg" width="16">
        </button>
        <img class="m-2" src="./assets/images/Logo_Democles.png" width="100">
      </div>
      <div fxFlex="50" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout mx-2">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="grid-item-layout">
          <img class="m-2" src="./assets/icons/search_nav.svg" width="16" style="margin-right: 
          -2.5rem !important;
          z-index: 5;">
          <input fxFlexFill type="text" placeholder="Search" class="px-5 my-2 mx-2 search-nav border-0" />
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxFlexFill class="grid-item-layout mx-2">
        <button class="btn">
          <img class="notification mx-2" src="./assets/images/notification.svg" width="18" />
        </button>
        <img class="vector mx-2" src="./assets/icons/vector.svg" height="40" />
        <button class="btn">
          <img class="user-icon mx-2" src="./assets/images/default-profile.svg" width="30" />
        </button>
        <div class="username mx-2">
          <span>{{name}}</span>
        </div>
        <button class="btn">
          <img class="user-dropdown mx-2" src="./assets/images/arrow_down.svg">
        </button>
        <button class="btn" (click)="logOut()">
          <img class="logout mx-3" src="./assets/icons/logout.svg" width="16" />
        </button>
      </div>
    </div>
  </div>
</div>