<div class="navbar d-flex">

  <div class="p-2 flex-grow-1">
    <img class="p-1 icon" src="../../../assets/home/Logo_Democles.png">
  </div>
  <div class="p-2 flex-grow-1 ">
    <p class="d-inline">Home</p>
    <p class="d-inline">Dashboard</p>
  </div>
  <div class="p-2 user-container">
    <img class="notification" src="../../../assets/home/notification.svg">
    <div class="line"></div>
    <img class="user-icon" src="../../../assets/home/default-profile.svg">
    <p>
      {{name}}
    </p>
    <img class="user-dropdown" src="../../../assets/home/arrow_down.svg">
  </div>

</div>
<app-stepper></app-stepper>