@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.text-header {
  @include font-format(700, 24px, 45px, #404040);
}

.text-title {
  @include font-format(400, 14px, 45px, #404040);
}

.text-customer {
  @include font-format(400, 12px, 16px, #020202);
}

.text-summary {
  @include font-format(700, 12px, 18px, #020202);
}

.div-resize-handle {
  border-top: 1.5px solid #e6e6e6;
}

.resize-handle-border-md {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  border-radius: 1px;
}

.resize-handle-icon-md {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2.5px;
  background-color: #e6e6e6;
  border-radius: 1px;
  cursor: n-resize;
}

.resize-handle-border-sm {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  border-radius: 1px;
}

.resize-handle-icon-sm {
  position: absolute;
  width: 40px;
  height: 2.5px;
  background-color: #e6e6e6;
  border-radius: 1px;
  cursor: n-resize;
}

.relative {
  position: relative;
}

/**
  * debug display block
  */

// .grid-item {
//   background-color: lightsalmon;
//   border: 1px solid #000000;
// }

// .grid-item-layout {
//   background-color: cadetblue;
//   border: 1px solid #000000;
// }

// .div-left {
//   background-color: #ffbbf9;
//   border: 1px solid #000000;
// }

// .div-right {
//   background-color: #e9e59b;
//   border: 1px solid #000000;
// }

// .div-bottom {
//   background-color: #4badf9;
//   border: 1px solid #000000;
// }

/** */
