<div class="grid-item relative" [ngStyle]="style" mwlResizable [validateResize]="validate" [enableGhostResize]="true"
    (resizeEnd)="onResizeEnd($event)" #section>
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" #chart_header>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
            <div fxFlex="100" fxLayout="column" fxFlexFill class="grid-item-layout p-2">
                <label class="text-header">Welcome to Damocles insight.</label>
                <label class="text-title">Damocles insight services.</label>
            </div>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" #chart_funnel>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
            <div fxFlex="100" fxLayout="row" fxLayout.lt-md="column" fxFlexFill class="grid-item-layout p-2">
                <div fxFlex="50" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout">
                    <div fxFlex id="chart-funnel"></div>
                </div>
                <div fxFlex="50" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexFill
                    class="grid-item-layout p-2">
                    <img src="../../../../../assets/icons/chart-homepage_list.svg">
                </div>
            </div>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
        </div>
    </div>
    <div class="m-auto div-bottom " fxLayoutAlign="center center">
        <div class="resize-handle-border"></div>
        <div class="resize-handle-icon" mwlResizeHandle [resizeEdges]="{ bottom: true }">
        </div>
    </div>
</div>