<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex fxHide.lt-md fxFlexFill class="grid-item-layout"></div>
  <div fxFlex="90">
    <p class="header1 p-2">My Project</p>
    <p class="header2 p-2 pointer" (click)="createProject()">+ Create</p>
    <div fxLayout="row wrap" class="project-container" fxLayoutAlign.lt-md="center center"
      fxLayoutAlign.gt-sm="start center">
      <div fxFlex.lt-md="80%" fxFlex.gt-sm="50%" fxLayoutGap="10px" *ngFor="let item of myProject">
        <div class="grid-item" fxLayout="row">
          <div fxFlex="15" class="col-position" fxLayoutAlign="center center">
            <img class="img-logo" src="./assets/images/project-icon.svg">
          </div>
          <div fxFlex="70" class="col-position" fxLayoutAlign="start center">
            <p class="item-name wrap">{{ item.name }}</p>
          </div>
          <div fxFlex="15" class="col-position " fxLayoutAlign="center start">

            <img class="p-1 pointer"
              [src]="item.favorite?'./assets/images/favorite-active.svg':'./assets/images/favorite.svg'"
              matTooltip="favorite" (click)="favoriteSelected(item)">

            <img class="p-1 pointer" src="./assets/images/delete.svg" matTooltip="delete" (click)="delete(item)">
          </div>
        </div>
      </div>
    </div>
    <p class="header1 mt-2 p-2">Recent</p>
    <table class="table p-2 table-responsive-sm">
      <tbody>
        <tr *ngFor="let item of recent" style="cursor: pointer;">

          <td><img src="./assets/images/recent-icon.svg">
            <span class="header3 p-2">{{item.name}}</span>
          </td>
          <td>
            <p class="d-flex justify-content-end header3">{{item.updated}}</p>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
  <div fxFlex fxHide.lt-md fxFlexFill class="grid-item-layout"></div>
</div>