@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
// .container {
// padding: 15px;
.header1 {
  @include font-format(700, 20px, 45px, #404040);
}
.header2 {
  @include font-format(500, 16px, 45px, #b3d235);
}
.header3 {
  @include font-format(400, 16px, 20px, #4e4e4e);
}
// }
.pointer {
  cursor: pointer;
}
.project-container {
  padding: 10px;
  display: flex;
  position: relative;
  overflow-y: auto;
  //height: 30vh;
}

.grid-item {
  //background-color: lightsalmon;
  border-radius: 5px;
  padding: 10px;
  min-width: 300px;
  height: 80px;
  margin: 5px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  .img-logo {
    width: 30px;
    height: 30px;
    white-space: nowrap;
    //width: 50px;
    overflow: hidden;
    justify-content: center;
  }
  .item-name {
    position: absolute;
    text-overflow: ellipsis;
    @include font-format(700, 16px, 20px, #4e4e4e);
  }
}
.col-position {
  position: relative;
}
