<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <form>
    <p fxLayout="row" fxLayoutAlign="center center " class="header">Login</p>
    <p fxLayout="row" class="label-1">Login to continue to customer insight data.</p>
    <div fxLayout="row" class="row-contents" style="display:inline;">
      <div class="mb-2 mt-2">
        <p for="emailInput" class="form-label header-1">Email</p>
        <input type="email" class="form-control input-layout label-2" id="emailInput" aria-describedby="emailHelp">
      </div>
    </div>
    <div fxLayout="row" class="row-contents">
      <div class="mb-2 mt-2">
        <label for="passwordInput" class="form-label header-1">Password</label>
        <input type="password" class="form-control input-layout label-2" id="passwordInput">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="row-contents">
      <div>
        <input id="rememberMe" type="checkbox"><span class="label-3 remember-checkbox">Remember me</span>
      </div>
      <div>
        <p class="label-4">Forgot password</p>
      </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="row-submit">
      <div class="mb-2">
        <button type="button" class="header-2 submit-btn" (click)="submit()">Login</button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class=" mb-3">
        <u class="header-3 register" (click)="gotoRegister()">Register</u>
      </div>
    </div>
  </form>
</div>