@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.container {
  margin: auto;
  margin-top: 5%;

  width: 70%;
  padding-top: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 13.1428px;
  .header-1 {
    @include font-format(700, 32px, 32px, #020202);
  }
  .header-2 {
    @include font-format(700, 14px, 19px, #020202);
  }
  .header-3 {
    @include font-format(700, 24px, 33px, #020202);
  }
  .label-1 {
    @include font-format(400, 12px, 16px, #020202);
  }
  .label-2 {
    @include font-format(700, 16px, 16px, #ffffff);
  }
  ::placeholder {
    color: #c4c4c4;
  }
  .input-text {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    height: 40px !important;
    padding: 1px 10px 1px 10px;
  }
  .btn-submit {
    background: #020202;
    border-radius: 100px;
    width: 18%;
    height: 48px;
  }
  .dropdown-btn {
    height: 40px;
    width: 87%;
    cursor: pointer;

    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
  }
}

.grid-item {
  border-radius: 5px;
  padding: 10px 50px 10px 50px;
  height: 300px;
}

.transform-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
