<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50">
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
            <div fxFlex="85" fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                <div fxFlexFill fxLayout="column" fxLayoutGap="20px" class="grid-item-layout px-5">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="p-2 my-0grid-item-layout">
                        <div fxFlexFill fxLayoutAlign="center center" class="text-header">
                            Media Plan
                            &nbsp;
                            <span [popper]="popperContent" [popperTrigger]="triggers.hover"
                                [popperModifiers]="offsetModifiers">
                                <img src="./assets/icons/info.svg" width="20" height="20" />
                            </span>
                        </div>
                    </div>
                    <popper-content #popperContent>
                        <span>info</span><br />
                    </popper-content>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-3 py-1 text-title-left">
                                Media Channel:
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-title-right">
                                Facebook, THAN
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-3 py-1 text-title-left">
                                Period:
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-title-right">
                                1-31 JULY 2022
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-3 py-1 text-title-left">
                                Budget:
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-title-right">
                                200,000 THB
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-3 py-1 text-title-left">
                                Estimated result:
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-title-right">

                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-4 py-1 text-content-left">
                                Imp
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-content-right">
                                450,000
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-4 py-1 text-content-left">
                                Click
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-content-right">
                                20,000
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-0">
                        <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                            flexLayoutAlign="center center">
                            <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="start center"
                                class="top-div-left p-4 py-1 text-content-left">
                                CTR%
                            </div>
                            <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                class="top-div-right p-3 py-1 text-content-right">
                                1.5%
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlexFill fxLayout="column" fxLayoutGap="20px" class="grid-item-layout">
                    <div fxFlexFill fxLayout="column" class="container">
                        <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="p-2 my-4">
                            <div fxFlex fxFlexFill fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayout.lt-md="row"
                                flexLayoutAlign="center center">
                                <div fxFlex fxLayout="row" fxLayoutAlign.lt-sm="start center"
                                    fxLayoutAlign="start center" class="top-div-left p-3 py-1 text-total">
                                    Total
                                </div>
                                <div fxFlexFill fxFlex="50" fxLayout="column" fxLayoutAlign="center end"
                                    class="top-div-right p-3 py-1 text-total">
                                    200,000.-
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout"></div>
        </div>
    </div>
</div>