<app-navbar></app-navbar>
<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxLayout="row" fxFlex="25%" class="block-1">
    <div fxFlex fxLayoutAlign="start center" fxFlexFill class="grid-item">
      <div fxLayout="row" fxFlex="45%" fxFlexFill class="card-container">
        <div fxLayout="row" fxFlex="20%">
          <img src="../../../assets/images/project_default.svg" width="40" height="40" />
        </div>
        <div fxLayout="column" fxFlex="55%">
          <div fxLayout="row">Test Project</div>
          <div fxLayout="row">KPI Name</div>

        </div>
        <div fxLayout="row" fxFlex="25%">
          <div class="card-info" fxLayoutAlign="center center">KPI Ready to use!</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="70%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">chart</div>
  </div>
</div>