<app-navbar></app-navbar>
<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxLayout="row" fxFlex="18%" class="block-1">
    <div fxFlex fxLayoutAlign="start center" fxFlexFill class="grid-item">
      <div fxLayout.gt-sm="column" fxLayout.lt-md="row" fxFlex.lt-sm="100%" fxFlex.gt-sm="45%" fxFlex.gt-xs="85%"
        fxLayoutAlign="space-evenly none" fxFlexFill class="card-container">

        <div fxLayout="row" fxLayoutGap="2px" fxFlex="100%" class="block-1">
          <div fxFlex="15%" fxLayoutAlign="center center" fxFlexFill class="grid-item1">
            <img src="../../../assets/images/project_default.svg" width="40" height="40" />
          </div>
          <div fxFlex="55%" fxLayoutAlign="start center" fxFlexFill class="grid-item1 ">
            <div fxLayout="column" fxFlexFill>
              <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="90%">
                <div fxLayoutAlign="start center" fxFlexFill class=" project-detail">
                  Test Project&nbsp;&nbsp;
                  <span [popper]="popperContent" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers">
                    <img src="../../../assets/icons/info.svg" width="20" height="20" />
                  </span>
                </div>
              </div>
              <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxFlex="90%">
                <div fxFlex.gt-xs="35%" fxLayoutAlign="start center" fxFlexFill>
                  <p class="kpi">KPI Name
                  </p>
                </div>
                <div fxFlex.gt-xs="65%" fxLayoutAlign="start center" fxFlexFill>
                  <div class="dropdown">
                    <button class="dropdown-btn">
                      <img [src]="dropdownIconSrc" style="position: absolute; left:80%;top:18%;" />{{
                      kpiSelected }}
                    </button>
                    <div class="dropdown-content" [ngStyle]="{ display: !this.dropdownShow ? 'none' : null }">
                      <p>test1</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="30%" fxLayoutAlign="center start" fxFlexFill class="grid-item1">
            <div class="card-info" fxLayoutAlign="center center">KPI Ready to use!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="90%" class="block-1">
    <div *ngIf="selectChart === 1" fxLayoutAlign="center center" fxFlexFill class="chart-container p-2">
      <!-- <img src="../../../assets/images/chart1.svg" class="img-position " /> -->
      <app-column-stacked-chart></app-column-stacked-chart>
    </div>
    <div *ngIf="selectChart === 2" fxLayoutAlign="center center" fxFlexFill class="chart-container p-2">
      <img src="../../../assets/images/chart2.svg" class="img-position " />
    </div>
    <div *ngIf="selectChart === 3" fxLayoutAlign="center center" fxFlexFill class="chart-container p-2">
      <img src="../../../assets/images/chart3.svg" class="img-position " />
    </div>

  </div>
</div>

<popper-content #popperContent>
  <span>info</span><br />
</popper-content>