@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.grid-item {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card {
  border: 1px solid #e9ecef;
  border-left-width: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card-selected:hover {
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25) !important;
}
.grid-card:hover {
  border: 1px solid #b3d235;
  box-shadow: 0px 4px 6px rgba(179, 210, 53, 0.25);
}

.item {
  .btn:disabled {
    opacity: 1;
  }
  .info {
    border-left-color: #d2f4f2;
    .btn {
      background-color: #d2f4f2;
      color: #020202;
      border: 0;
    }
  }
  .warning {
    border-left-color: #ff7b31;
    .btn {
      background-color: #ff7b31;
      color: #020202;
      border: 0;
    }
  }
  .secondary {
    border-left-color: #b3d235;
    .btn {
      background-color: #b3d235;
      color: #020202;
      border: 0;
    }
  }
}
.btn {
  -webkit-transition: 0.2s all;
  border-radius: 10px;
}
.btn:hover {
  // -webkit-filter: brightness(95%);
}

.text-header {
  @include font-format(700, 32px, 44px, #020202);
}

.text-title {
  @include font-format(700, 20px, 16px, #020202);
}

.text-my-project {
  @include font-format(700, 20px, 27px, #020202);
}

.text-topic {
  @include font-format(700, 16px, 20px, #020202);
}

.text-status {
  @include font-format(500, 12px, 26px, #020202);
}

.text-description {
  @include font-format(400, 12px, 16px, #020202);
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.input-search {
  @include font-format(400, 16px, 22px, #020202);
}

.overflow {
  overflow-y: auto;
  height: 40vh;
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

// .top-div-left {
//   background-color: #ffbbf9;
// }

// .top-div-right {
//   background-color: #e9e59b;
// }

// .bottom-div {
//   background-color: #6acadd;
// }
