.grid-item {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card {
  border: 1px solid #e9ecef;
  border-left-width: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.item {
  .btn:disabled {
    opacity: 1;
  }
  .info {
    border-left-color: #d2f4f2;
    .btn {
      background-color: #d2f4f2;
      color: #020202;
      border: 0;
    }
  }
  .warning {
    border-left-color: #ff7b31;
    .btn {
      background-color: #ff7b31;
      color: #020202;
      border: 0;
    }
  }
  .secondary {
    border-left-color: #b3d235;
    .btn {
      background-color: #b3d235;
      color: #020202;
      border: 0;
    }
  }
}
.btn {
  -webkit-transition: 0.2s all;
  border-radius: 10px;
}
.btn:hover {
  -webkit-filter: brightness(95%);
}

.text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #020202;
}

.text-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #020202;
}

.text-my-project {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #020202;
}

.text-project-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #020202;
}

.text-status {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #020202;
}

.text-description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4e4e4e;
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.input-search {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.overflow {
  overflow-y: auto;
  height: 33vh;
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}
