<div fxLayout="row" fxLayoutAlign="center center" class="grid-item p-4 m-2">
    <div fxLayout="column" fxLayoutGap="20px" style="width: 900px;">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="start none" class="px-2 m-3">
                <div fxFill>
                    <div fxLayout="row" fxLayoutAlign="start center" class="text-header mb-2">
                        KPI List
                        &nbsp;
                        <span [popper]="popperContent" [popperTrigger]="triggers.hover"
                            [popperModifiers]="offsetModifiers">
                            <img src="../../../assets/icons/info.svg" width="20" height="20" />
                        </span>
                    </div>
                    <popper-content #popperContent>
                        <span>info</span><br />
                    </popper-content>
                    <div fxLayout="row" fxLayoutAlign="start center" class="text-title mb-2">Industry: Banking</div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="text-title">
                        <img class="search-icon" src="../../../assets/icons/search.svg" width="15" height="15" />
                        <div fxFill class="input-group mb-3">
                            <input type="text" class="form-control input-search" placeholder="Project Name"
                                [(ngModel)]="term">
                        </div>
                    </div>
                    <div class="content-master">
                        <div class="dropdown">
                            <span class="dropdown-content">
                                <div *ngFor="let item of dataMaster | filterKpiDropdown: term; let i = index;">
                                    <div>
                                        <div>
                                            {{ item.group }}
                                            &nbsp;
                                            <span [popper]="popperContent2" [popperTrigger]="triggers.hover"
                                                [popperModifiers]="offsetModifiers">
                                                <img src="../../../assets/icons/info.svg" width="15" height="15" />
                                            </span>
                                            <button class="btn" (click)="iconDropdownGroup(!item.dropdownShow, item)">
                                                <img [src]="item.iconSrc" width="8" height="4.8" />
                                            </button>
                                        </div>
                                        <popper-content #popperContent2>
                                            <span>info</span><br />
                                        </popper-content>
                                        <div [ngStyle]="{ display: !item.dropdownShow ? 'none' : null }"
                                            *ngFor="let dataItem of item.data">
                                            <mat-checkbox [checked]="dataItem.selected"
                                                [indeterminate]="dataItem.indeterminate"
                                                (change)="setAllItem($event.checked, dataItem)">
                                                {{ dataItem.label }}
                                            </mat-checkbox>
                                            &nbsp;
                                            <span [popper]="popperContent3" [popperTrigger]="triggers.hover"
                                                [popperModifiers]="offsetModifiers">
                                                <img src="../../../assets/icons/info.svg" width="15" height="15" />
                                            </span>
                                            <button class="btn"
                                                (click)="iconDropdownSubGroup(!dataItem.dropdownShow, dataItem)">
                                                <img [src]="dataItem.iconSrc" width="8" height="4.8" />
                                            </button>
                                            <popper-content #popperContent3>
                                                <span>info</span><br />
                                            </popper-content>
                                            <span [ngStyle]="{ display: !dataItem.dropdownShow ? 'none' : null }">
                                                <div class="sublevel" *ngFor="let sub of dataItem.subLevel">
                                                    <mat-checkbox [(ngModel)]="sub.selected"
                                                        (ngModelChange)="selectSubLevel(sub, dataItem)">
                                                        {{ sub.label }}
                                                    </mat-checkbox>
                                                    &nbsp;
                                                    <span [popper]="popperContent4" [popperTrigger]="triggers.hover"
                                                        [popperModifiers]="offsetModifiers">
                                                        <img src="../../../assets/icons/info.svg" width="15"
                                                            height="15" />
                                                    </span>
                                                    <popper-content #popperContent4>
                                                        <span>xxxxxxxxxxx</span><br />
                                                        <span>xxxxxxxxxxx</span><br />
                                                    </popper-content>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" class="px-2">
                <div fxLayout="row" class="card border-0 m-3">
                    <div fxFill class="card border-0 item-top-right">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some.</p>

                        </div>
                    </div>
                </div>
                <div fxLayout="row" class="card border-0 m-3">
                    <div fxFill class="card border-0 item-bottom-right">
                        <div class="card-body">
                            <p class="card-title">Card title</p>
                            <p class="card-text">Job Type - Regular</p>
                            <p class="card-text">Job Type - Regular</p>
                            <p class="card-text">Job Type - Regular</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>