@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.container {
  padding: 5px;
  .img-icon {
    width: 11px;
    height: 15px;
  }
  .m0 {
    margin: 0;
  }
  .header1 {
    @include font-format(400, 14px, 19px, #4e4e4e);
  }
  .step-action {
    cursor: pointer;
  }
  .line-active {
    border-top: 2px solid #4e4e4e;
    width: 50px;
    padding-bottom: 50px;
  }
  .line-nonactive {
    border-top: 2px solid #e6e6e6;
    width: 50px;
    padding-bottom: 50px;
  }
  .back-btn {
    width: 90%;
    height: 48px;
    background: #f5f5f5;
    border-radius: 120.882px;
    @include font-format(700, 15.71px, 26px, #020202);
  }
  .next-btn {
    width: 90%;
    height: 48px;
    background: #020202;
    border-radius: 120.882px;
    @include font-format(700, 15.71px, 26px, #ffffff);
  }
}

.nav-pb {
  padding-bottom: 80px;
}

// .grid-item {
//   background-color: lightsalmon;
//   border-radius: 5px;
//   padding: 10px;
// }

// .grid-item-layout {
//   background-color: cadetblue;
//   border: 2px solid #ffffff;
// }

// .border {
//   display: inline-block;
//   width: 25px;
//   height: 25px;
//   margin: auto;
// }
