<div fxFlexFill fxLayout="column" fxLayoutGap="10px" class="container p-4">
  <div fxFlex="25%" class="block-1" *ngIf="stepToggleShow">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="header1" fxLayout="column" fxLayoutAlign="center center">
          <img class="step-action" [src]="stepDisplay(1, stepCurrent)" (click)="stepAction(1)">
          <p class="m0">Select</p>
          <p>Project</p>
        </div>
        <div [ngClass]="stepCurrent < 2? 'line-nonactive': 'line-active'" fxLayout="column"
          fxLayoutAlign="center center">
        </div>
        <div class="header1" fxLayout="column" fxLayoutAlign="center center">
          <img class="step-action" [src]="stepDisplay(2, stepCurrent)" (click)="stepAction(2)">
          <p class="m0">Select</p>
          <p>KPI</p>
        </div>
        <div [ngClass]="stepCurrent < 3? 'line-nonactive': 'line-active'" fxLayout="column"
          fxLayoutAlign="center center">
        </div>
        <div class="header1" fxLayout="column" fxLayoutAlign="center center">
          <img class="step-action" [src]="stepDisplay(3, stepCurrent)" (click)="stepAction(3)">
          <p class="m0">Select</p>
          <p>Channel</p>
        </div>
        <div [ngClass]="stepCurrent < 4? 'line-nonactive': 'line-active'" fxLayout="column"
          fxLayoutAlign="center center">
        </div>
        <div class="header1" fxLayout="column" fxLayoutAlign="center center">
          <img class="step-action" [src]="stepDisplay(4, stepCurrent)" (click)="stepAction(4)">
          <p class="m0">Confirm</p>
          <p>Media Plan</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex>
        <div fxFlex fxLayoutAlign="center end" fxFlexFill class="grid-item-layout p-2">
          <button *ngIf="stepCurrent > 1 && stepCurrent <= 4 && buttonShow" class="back-btn"
            (click)="previousMenu()"><img class="img-icon" style="margin-right: 10px;margin-bottom:2px;"
              src="../../../assets/images/back.svg">Back</button>
        </div>

        <div fxFlex="75" fxFlex.lt-md="100" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout">
          <div fxFlexFill *ngIf="stepCurrent === 1">
            <app-lets-start (outputFromChild)="receiveChildData($event)"></app-lets-start>
          </div>
          <div fxFlexFill *ngIf="stepCurrent === 2">
            <div *ngIf="permissionTarget == 1" [ngStyle]="{ display: nextToKpiList ? 'none' : null }">
              <app-kpi-by-product (outputFromChild)="receiveChildDataKpiByProduct($event)"></app-kpi-by-product>
            </div>
            <div *ngIf="permissionTarget == 1 && nextToKpiList">
              <app-kpi></app-kpi>
            </div>

            <div *ngIf="permissionTarget == 2" [ngStyle]="{ display: nextToKpiTest ? 'none' : null }">
              <app-create-kpi-name></app-create-kpi-name>
            </div>
            <div *ngIf="permissionTarget == 2 && nextToKpiTest">
              <app-kpi-test></app-kpi-test>
            </div>

            <div *ngIf="permissionTarget == 3">
              <app-test-project (outputFromChild)="receiveChildDataTestProject($event)"
                (outputFromChildDashboard)="receiveChildDataDashboard($event)"></app-test-project>
            </div>
          </div>

          <div fxFlexFill *ngIf="stepCurrent === 3">
            <div *ngIf="permissionTarget == 1 || permissionTarget == 2">
              <app-select-channel></app-select-channel>
            </div>
          </div>

          <div fxFlexFill *ngIf="stepCurrent === 4">
            <div *ngIf="permissionTarget == 1 || permissionTarget == 2">
              <app-media-plan></app-media-plan>
            </div>
          </div>
        </div>

        <div fxFlex fxLayoutAlign="center end" fxFlexFill class="grid-item-layout p-2">
          <button *ngIf="stepCurrent > 1 && stepCurrent <= 4 && buttonShow" class="next-btn" (click)="nextMenu()">
            Next
            <img class="img-icon" style="margin-left: 10px;margin-bottom:2px;" src="../../../assets/images/next.svg">
          </button>
        </div>
      </div>
    </div>
  </div>