@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ngx-popperjs/scss/theme-dark";
@import "~ngx-popperjs/scss/theme-white";

* {
  font-family: Noto Sans, sans-serif !important;
}

@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
}

/**
  * ngx-popperjs
  */
.ngxp__container.ngxp__animation {
  animation: ngxp-fadeIn 0.15s ease-out;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #020202;
}

/**
  * bootstrap
  */
::placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #e6e6e6 !important;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #e5e5e5;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}
button:focus:not(:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

/**
  * material
  */
.mat-checkbox-frame {
  background-color: #e6e6e6 !important;
  border: 0 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #4e4e4e !important;
  border: 0 !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: transparent !important;
}
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: transparent !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff0000 !important;
}

/**
  * custom-ngx-slider
  */
.custom-ngx-slider {
  .ngx-slider .ngx-slider-bar {
    height: 4px;
    background: #e6e6e6;
    border-radius: 10px;
  }
  .ngx-slider .ngx-slider-pointer {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -4px;
    background-color: #4e4e4e;
  }
  .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }
  .ngx-slider .ngx-slider-tick {
    width: 3px;
    height: 15px;
    margin-left: 4px;
    border-radius: 0;
    background: #ccc;
    top: -1px;
  }
  .ngx-slider .ngx-slider-span {
    @include font-format(400, 10px, 15px, #4e4e4e);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
