@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ngx-popperjs/scss/theme-dark";
@import "~ngx-popperjs/scss/theme-white";

* {
  font-family: Noto Sans, sans-serif !important;
}

/**
  * ngx-popperjs
  */
.ngxp__container.ngxp__animation {
  animation: ngxp-fadeIn 0.15s ease-out;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #020202;
}

/**
  * bootstrap
  */
::placeholder {
  color: #e6e6e6 !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #e6e6e6 !important;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #e5e5e5;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}

/**
  * material
  */
.cdk-overlay-pane {
  &.mat-tooltip-panel {
    .mat-tooltip {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      padding: 0.8rem 1.2rem;
      color: #020202;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 14.5058px 38.6822px rgba(56, 69, 76, 0.2);
    }
  }
}

.mat-checkbox-frame {
  background-color: #e6e6e6 !important;
  border: 0 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #4e4e4e !important;
  border: 0 !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: transparent !important;
}
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: transparent !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff0000 !important;
}
