.container {
  padding: 5px;
}

.grid-item {
  background-color: lightsalmon;
  border-radius: 5px;
  padding: 10px;
}

.grid-item-layout {
  background-color: cadetblue;
  border: 2px solid #ffffff;
}

.border {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
}
