<div class="text-center"><span class="rounded-circle border border-dark">1</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
        </div>
    </div>
</div>

<div class="text-center"><span class="rounded-circle border border-dark">2</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout">B</div>
            <div fxFlex="75%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
            <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item-layout">C</div>
        </div>
    </div>
</div>

<div class="text-center"><span class="rounded-circle border border-dark">3</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
            <div fxFlex="50%" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexFill
                class="grid-item-layout p-4">
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    B
                </div>
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    C
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center"><span class="rounded-circle border border-dark">4</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
            <div fxFlex="100%" fxLayout.gt-sm="row" fxLayout.lt-md="row" fxLayoutAlign="center center" fxFlexFill
                class="grid-item-layout p-4">
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    B
                </div>
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    C
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center"><span class="rounded-circle border border-dark">5</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
            <div fxFlex="100%" fxLayout.gt-sm="column" fxLayout.lt-md="row" fxLayoutAlign="center center" fxFlexFill
                class="grid-item-layout p-4">
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    B
                </div>
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    C
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center"><span class="rounded-circle border border-dark">6</span></div>
<div class="grid-item m-2">
    <div fxLayout="column" class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                A
            </div>
            <div fxFlex="100%" fxLayout.gt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexFill
                class="grid-item-layout p-4">
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    B
                </div>
                <div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item-layout p-4">
                    C
                </div>
            </div>
        </div>
    </div>
</div>