@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
  margin: 0;
}

.grid-item {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grid-card {
  border: 1px solid #e9ecef;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.btn {
  -webkit-transition: 0.2s all;
  border-radius: 10px;
}
.btn:hover {
  -webkit-filter: brightness(95%);
}
.btn-add {
  @include font-format(700, 14px, 20px, #020202);
  border-radius: 100px;
  border: 1px solid #020202;
  height: 40px;
}
.btn-add:hover {
  img {
    filter: brightness(0) invert(1);
  }
  background: #020202;
  color: #ffffff;
}
.text-header {
  @include font-format(700, 32px, 44px, #020202);
}

.text-title {
  @include font-format(500, 16px, 23px, #020202);
}

input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.search-icon {
  margin-right: -1.8rem;
  z-index: 5;
}
.input-search {
  @include font-format(400, 16px, 22px, #020202);
  padding-left: 40px;
}
::placeholder {
  color: #e6e6e6;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #e6e6e6;
}

.overflow {
  overflow-y: auto;
  height: 33vh;
}

.icon-check {
  margin-top: -1.2rem;
  margin-right: -1.8rem;
  margin-bottom: -1.5rem;
}
