<div fxLayout="row" fxLayoutAlign="center center" class="grid-item p-4 m-2">
    <div fxLayout="column" fxLayoutGap="20px" style="width: 556px;">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="p-2">
            <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="start center" class="text-header">
                KPI by Product
                &nbsp;
                <img src="../../../assets/icons/info.svg" width="20" height="20" mat-raised-button matTooltip="Info"
                    [matTooltipPosition]="position.value!" aria-label="" />
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="end center" class="text-title">
                Industry: Banking
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign=" none" class="item">
            <div fxLayout="column" class="btn card grid-card m-2" *ngFor="let item of myKPI; let i = index"
                [ngStyle]="{ border: item.isSelected ? '1px solid #000000' : null }" (click)="toggle1(myKPI, item, i)">
                <div *ngIf="item.isSelected" fxLayout="column" fxFill fxLayoutAlign=" end">
                    <img class="icon-check" src="../../../assets/icons/ic_checkbox.svg" width="32" height="32" />
                </div>
                <div class="row">
                    <div fxLayoutAlign.lt-sm="start center" fxLayoutAlign="center center"
                        class="col-xs-12 col-sm-2 col-md-2 col-lg-2 p-2">
                        <img src="{{ item.image }}" width="40" height="40" class="img-fluid rounded-start">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="row p-1">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-1 text-start text-project-name">
                                {{ item.name }}
                                &nbsp;
                                <img src="../../../assets/icons/info.svg" width="20" height="20" mat-raised-button
                                    matTooltip="Info" [matTooltipPosition]="position.value!" aria-label="" />
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-12 p-1 text-start text-description">{{ item.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>